@import './common.css';


html, body {
	width: 20rem;
	background-color: rgb(207, 205, 205);
	margin: 0;
}
img{
	width: 150px;
}

.blockitforme-popup-page-content {
	padding: 0.5rem;
}

.blockitforme-popup-page-title {
	margin-bottom: 1rem;
}

.blockitforme-popup-page .blockitforme-nav-menu ul {
	background-color: transparent;
}